{{template "header"}}
    <h1>What's all the fuss about?</h1>
    <p>
    As a group of college students, we are well acquainted with the task of creating meals on our own. When given the task of constructing something using API's from Target and Pearson, we noticed that Pearson had one containing scores of recipes. This gave us the idea that we might be able to turn this struggle into something great.
    </p>
    <br>
    <p>
    RecipEats gives you access to countless recipes spanning a number of cuisines . Not only do you have access to these recipes, but through the use of an API provided by Target, you can see ingredients with their approximate prices at Target stores. This gives you the ability to check prices which gives you the opportunity to keep your meals on track with the budget you have to working with.
    </p>
    <br>
    <p>
    To provide further incentive to use our product, you will earn badges as you learn new skills and recipes via the Acclaim API provided by Pearson. This provides a sense of achievement to give users something to strive for. The more meals you learn to make, the more badges you get.
    </p>
{{template "footer"}}