{{define "header"}}
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://vps.redig.us/static/pageui.css">
    </head>

    <body>
        <header>
            <img src="https://vps.redig.us/static/banner.png" class="h-banner">
            <h1 class="h-title">Header Title</h1>
            <nav class="h-list">
                <p class="h-list-item"><a href="http://vps.redig.us/home/">Home</a></p>
                <p class="h-list-item"><a href="http://vps.redig.us/recipes/">Recipes</a></p>
                <p class="h-list-item"><a href="http://vps.redig.us/badges/">Badges</a></p>
                <p class="h-list-item"><a href="http://vps.redig.us/about/">About</a></p>
            </nav>
            <div class="logreg">
                <a href="https://vps.redig.us/login/">Login</a>
                <a href="https://vps.redig.us/register/">Register</a>
            </div>
        </header>
{{end}}

{{define "footer"}}
        <footer>
    		Banner courtesy of : <a class="a-footer" href="http://www.freefoodphotos.com/">http://www.freefoodphotos.com/</a><br>
            Powered by Pearson Kitchen Manager
    	</footer>
    </body>
</html>
{{end}}