{{define "header"}}
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://vps.redig.us/static/pageui.css">
    </head>

    <body>
        <header>
            <img src="https://vps.redig.us/static/banner.png" class="h-banner">
            <h1 class="h-title">Header Title</h1>
            <nav class="h-list">
                <p class="h-list-item">Home</p>
                <p class="h-list-item">Recipes</p>
                <p class="h-list-item">Badges</p>
                <p class="h-list-item">About</p>
            </nav>
        </header>
{{end}}

{{define "footer"}}
        <footer>
    		Banner courtesy of : <a href="http://www.freefoodphotos.com/" class="f-credit">http://www.freefoodphotos.com/</a>
    	</footer>
    </body>
</html>
{{end}}