{{template "header"}}

        <h2 class="left">Recipes</h2>
        <p class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent erat odio, hendrerit ac ante sed, finibus luctus sapien. Morbi sed risus quis velit rutrum rutrum. Suspendisse a elit semper, fringilla mi in, elementum quam. Phasellus ullamcorper nunc purus, nec fermentum nisl facilisis at.</p>
        <h2 class="left">Badges</h2>
        <p class="right">Duis sed ultrices elit, vel mollis lectus. Nam porttitor, lacus eget feugiat scelerisque, mi lacus pretium est, sed faucibus lorem lectus ac neque. Integer porta, sem vel feugiat semper, ligula metus mollis lacus, ornare accumsan dolor tortor ac ipsum.</p>

{{template "footer"}}