{{template "header"}}
	<p class="intro"><em>Become a Winner when you make your Dinner!</em></p>

    <h2>Recipes</h2>
    <p class="home-info">There cuisines from cultures all over the globe. You can experience different cuisines from France to China or Australia to Mexico!</p>
    
    <br>

    <h2>Badges</h2>
    <p class="home-info">When you make these meals, you will be rewarded with badges. There are badges for your Experience, Knowledge, and Skills you pick up along the way. There are even badges for different cuisines!</p>
{{template "footer"}}