{{template "header"}}
	<p class="intro"><em>Become a Winner when you make your Dinner!</em></p>

    <h2>Recipes</h2>
    <p class="home-info">There are many different types of cuisines from all kind of cultures. You can look at cuisines from France to Italy to even Asia or Australia.</p>
    
    <br>

    <h2>Badges</h2>
    <p class="home-info">When you make these meals you will be rewarded with badges. There are badges for you knowlege, skill and experiance. There are even badges for each cuisine.</p>
{{template "footer"}}