{{template "header"}}
<div class="recipe-form">
	<form name="input" action="https://vps.redig.us/search/" method="post">
		<label for="recipeName">Recipe Name: </label><input type="text" name="recipeName"><br>
		<label for="ingredients">Ingredients: </label><input type="text" name="ingredients"><br>
		<label for="cuisine">Cuisine: </label>
		<select name="cuisine">
			<option value="">All</option>
			{{range .Results}}
				<option value="{{.Id}}">{{.Name}}</option>
			{{end}}
		</select><br>
		<label for="cooking method">Cooking Method: </label>
		<select name="cooking method">
			<option value="">All</option>
<option value="Baking: Baked custard">Baking: Baked custard</option>
<option value="Baking: Biscuit">Baking: Biscuit</option>
<option value="Baking: Churned">Baking: Churned</option>
<option value="Baking: Cream Filling">Baking: Cream filling</option>
<option value="Baking: Creaming">Baking: Creaming</option>
<option value="Baking: Egg Foam">Baking: Egg Foam</option>
<option value="Baking: Enriched dough">Baking: Enriched dough</option>
<option value="Baking: Molded cookie">Baking: Molded cookie</option>
<option value="Baking: Muffin">Baking: Muffin</option>
<option value="Baking: Piped chocolate">Baking: Piped chocolate</option>
<option value="Baking: Rolled-in dough">Baking: Rolled-in dough</option>
<option value="Baking: Sponge Cake">Baking: Sponge Cake</option>
<option value="Baking: Sponge">Baking: Sponge</option>
<option value="Baking: Stirred custard">Baking: Stirred custard</option>
<option value="Baking: Straight dough">Baking: Straight dough</option>
<option value="Baking: Wafer cookie">Baking: Wafer cookie</option>
<option value="Baking">Baking</option>
<option value="Boiling">Boiling</option>
<option value="Braising">Braising</option>
<option value="Broiling">Broiling</option>
<option value="Broth">Broth</option>
<option value="Consommé">Consommé</option>
<option value="Cream">Cream</option>
<option value="Deep Frying">Deep Frying</option>
<option value="Emulsion">Emulsion</option>
<option value="Grilling">Grilling</option>
<option value="Mayonnaise-based">Mayonnaise-based</option>
<option value="Pan-frying">Pan-frying</option>
<option value="Pilaf method">Pilaf method</option>
<option value="Poaching">Poaching</option>
<option value="Purée">Purée</option>
<option value="Reduction">Reduction</option>
<option value="Risotto method">Risotto method</option>
<option value="Roasting">Roasting</option>
<option value="Sauteing">Sautéing</option>
<option value="Simmering">Simmering</option>
<option value="Stewing">Stewing</option>
<option value="Temporary emulsion">Temporary emulsion</option>
<option value="Tossed">Tossed</option>
<option value="Uncooked">Uncooked</option>

		<input type="submit" value="Search">
	</form>
</div>

{{/*
    <h1>Completed Recipes</h1>
    <p class="byline"> - view recipes you've completed</p>
    <h1>Recipe Suggestions</h1>
    <p class="byline"> - view similar recipes</p>
    <h1></h1>
*/}}
{{template "footer"}}