{{template "header"}}
	<div class="search-results">
	{{range .Results}}
		<a href="https://vps.redig.us/recipe/?id={{.Id}}">
			<image src="{{.Thumb}}"/>
			<br/>
			{{.Name}}
			<br/>
		</a>
	{{end}}
	</div>
	<div class="search-page">
		<div class="search-page-jump">
		{{if .PrevPage}}
		<a href="{{.PrevPage}}">Previous Page</a>
		{{end}}
		</div>
		<div class="search-page-jump">
			{{if .NextPage}}
			<a href="{{.NextPage}}">Next Page</a>
			{{end}}
		</div>
	</div>
{{template "footer"}}