{{template "header"}}
	<div class="center">
	<div class="singleRecipe-title">
		{{.Name}}
		{{.Cuisine}}<br>
	</div>
	<image src="{{.Image}}"/><br>
	<div class="singleRecpe-subtitle">
		{{.Cooking_Method}}
		{{.Serves}}
		{{.Yields}}
	</div>
	</div>
	<ul>
		{{range .Ingredients}}
		<li>
			{{.Name}}
			{{.Quantity}}
			{{.Unit}}
			{{.Preparation}}
		</li>
		{{end}}
	</ul>

	<ol>
	{{range .Directions}}
		<li>{{.}}</li>
	{{end}}
	</ol>
	{{if .Auth}}
		<a href="https://vps.redig.us/made/?id={{.Id}}">I made this!</a>
	{{end}}
{{template "footer"}}