@font-face {
    font-family: 'Archistico';
    src: url('Archistico_Simple-webfont.ttf') format('truetype'),
         url('Archistico_Simple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.byline {
    position: relative;
    margin-top: -30px;
    margin-left: 50px;
}

html {
    background: #f5f5f5;
    color: #222222;
    font-size: 1.2rem;
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: sans-serif;
}

p {
    color: #777;
}

body {
    
    box-shadow: 0 0 25px 5px #333;
    padding: 10px 20px;
    background: #F2DCC4;
    min-height: 100%;
    margin: 0 auto;
    width: 800px;
}

header {
    font-family: 'Archistico';
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    margin-top: 50px;
    font-family: sans-serif;
    clear: both;
    color: gray;
    text-align: center;
}

a:link {
    color: #2EB8E6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #2EB8E6;
}

.h-title {
    font-family: 'Archistico';
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

.h-banner {
    width: 100%;
}

.h-list {
    color: black;
    display: flex;
    justify-content: space-around;
}

.h-list-item {
    display: inline;
    font-size: 1.5rem;
}

.h-list-item a:link {
    color: black;
    text-decoration: none;
}

.h-list-item a:hover {
    text-decoration: underline;
}

.h-list-item a:visited {
    color: black;
}


input[type="text"] {
    font-size: .8rem;
    border-radius: 7px;
}

button[type=submit], input[type=submit] {
    background-color: #6CB591;
    color: #eee;
    font-size: .9rem;
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #2EB8E6;
    box-shadow: none;
    border-radius: 10px;
    border: none;
    font-size: .8rem;
    padding: 8px 12px;
}


.logreg {
    color: black;
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.logreg a:link {
    background: #2EB8E6;
    
    color: #eee;
    margin: 4px;
    text-decoration: none;
    
}

.logreg a:visited {
    color: #eee;
    text-decoration: none;
}

.intro {
    font-family: serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: #555;
    text-align: center;
}

.home-info {
    display: block;
    margin-left: 30px;
}

.recipe-form {
    display: block;
    width: 45%;
}

.reg-form {
    display: block;
    width: 40%;
}

.reg-form label, .recipe-form label {
    text-align: right;
    width: 30%;
}

.reg-form input, .recipe-form input, select {
    float: right;
}

.recipe-info {
    display: inline-block;
    margin-left: 25px;
}

.recipe-intro {
    white-space: nowrap;
}

.search-page {
    display: inline

}

.search-page-jump {
    display: inline-block;
    margin-right: 20px;
}