@font-face {
    font-family: 'Archistico';
    src: url('Archistico_Simple-webfont.ttf') format('truetype'),
         url('Archistico_Simple-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.byline {
    position: relative;
    margin-top: -30px;
    margin-left: 50px;
}

html {
    background: #fff;
    color: #222222;
    font-size: 1.2rem;
    min-height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

h1,h2,h3 {
    font-family: sans-serif;
}

body {
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 800px;
}

header {
    font-family: 'Archistico';
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    font-family: sans-serif;
    clear: both;
    color: gray;
    text-align: center;
}

.a-footer:link {
    color: #51d6fd;
    text-decoration: none;
}

.a-footer:hover {
    text-decoration: underline;   
}

.h-title {
    font-family: 'Archistico';
    float: left;
    margin-right: 50px;
    margin-top: 20px;
}

.h-banner {
    width: 100%;
}

.h-list {
    
    display: flex;
    justify-content: space-around;
}

.h-list-item {
    display: inline;
    font-size: 1.5rem;
}

.h-list-item a:link {
    color: inherit;
    text-decoration: none;
}

.h-list-item:hover {
    text-decoration: underline;
}

form {
    text-align: right;
    width: 4em;
}

form label {
    display: inline;
    text-align: left;
}


input[type=text] {
    line-height: 1.5;
}

.search-results {

}

.search-results a {
    
}

.logreg {
    font-family: sans-serif;
    text-decoration: none;
    text-align: right;
}

.intro {
    font-family: serif;
    font-size: 1.5rem;
    color: #99997F;
}